main {
    margin-top: 280px;
    margin-left: 14%;
    margin-right: 14%;
}

h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    margin-left: -5%;
    margin-bottom: 50px;
}
p {
    /* margin-left: 14%; */
    font-size: 14px;
    padding: 5px;
}
.about_content {
    display: flex;
    align-items: center;
    margin: 0 auto 50px;
}

.face {
    width: 200px;
    height: 100px;
    background: #000;
    margin-right: 50px;
}

.about_content {
    margin-top: 55px;
}

@media screen and (max-width: 800px) {
   main {
       margin: 140px 10px 0;
   }
   .about_content {
    display: flex;
    flex-direction: column;
}
.face {
    width: 100px;
    margin-top: 100px;
}

   h2 {
       text-align: center;
   }
   
   p {
    margin: 0 10px;
    font-size: 13px;
   }
}